$break-small: 320px;
$break-mid:   660px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-mid) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


 h1 {
    @include respond-to('handhelds') {
      font-size: 2em;
    }
 }
h2 {
  @include respond-to('handhelds') {
    text-align: center;
  }
}
footer {
  @include respond-to('handhelds') {

    }
    h6, ul {
      text-align: center;
    }
  img {
    height: 50%;
  }
}
