$break-small: 320px;
$break-mid:   660px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-mid) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// .profile-pic {
//   float: left;
//   width: 250px;
//   @include respond-to(handhelds) { width: 100% ;}
//   @include respond-to(medium-screens) { width: 125px; }
//   @include respond-to(wide-screens) { float: none; }
// }
 h1 {
    @include respond-to('handhelds') {
      // font-size: 2.25em;
    }
 }
h2 {
  @include respond-to('handhelds') {
    text-align: center;
  }
}
footer {
  @include respond-to('handhelds') {

    }
    h6, ul {
      text-align: center;
    }
  img {
    height: 50%;
  }
}
