/* Base styles / Global Styles */
body {
	font-family: 'Josefin Sans', sans-serif;
}
li {
  list-style-type: none;
}
/* Typography styling */
h1 {
  font-size: 4em;
}
h3 {
  text-align: center;
  margin: 30px 0;
}
/* Navbar styling */
nav {
  a {
    text-decoration: none;
    font-size: 2em;
    text-align: center;
  }
  img {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    height: 40px;
  }
  .navbar {
    margin-top: 25px;
    padding: 0;
  }
}
nav.navbar.navbar-light {
  padding: 20px 0;
}
/* Header styling */
header #splash {
  margin: 200px 0;
}

/* Carousel Styling */
div.carousel-caption {
  top: 0;
  bottom: unset;
  padding: 7px;
  right: 0px;
  left: unset;
  h3, p {
    margin: 0;
    color: black;
    font-weight: bold;
  }
}

/* Footer styling */
footer {
  margin: 45px 0;
  li.social-media-links {
    display: inline-block;
  }
}
